:root {
  --text-color: #f7e2e2;
  --menubackground-color: #1a132f;
  --hover-color: #5b7db1;
  --logo-color: brown;
  --background-color: #fbf8f1;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--menubackground-color);
  padding: 8px 12px;
}

.navbar_logo {
  font-size: 24px;
  color: var(--text-color);
  font-family: "Roboto Condensed", sans-serif;
}

.navbar_logo i {
  color: var(--logo-color);
}

.navbar_menu {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_menu li:hover {
  background-color: var(--hover-color);
  border-radius: 4px;
}

.navbar_link {
  display: flex;
  color: var(--text-color);
  padding-left: 0;
  list-style-type: none;
}
.navbar_link li i {
  padding: 8px 12px;
}
.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--hover-color);
}
@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li:hover {
    width: 100%;
    text-align: center;
  }

  .navbar_link {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar_toggleBtn {
    display: block;
  }

  .navbar_link.c,
  .navbar_menu.c {
    display: flex;
  }
}
